{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": "false",
    "codeFrame": false,
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb", "prettier", "react-app"],
  "plugins": ["prettier", "import", "react", "react-hooks"],
  "env": {
    "browser": true,
    "jest": false,
    "es6": true
  },
  "rules": {
    "react/forbid-prop-types": 0
  },
  "globals": {
    "WP_React": "readonly"
  }
}
