.posts-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__post-card {
    border-radius: 3px;
    overflow: hidden;
    transition: all 0.2s;

    &:link,
    &:visited {
      text-decoration: none;
      font-family: $font-default;
    }

    &:hover,
    &:focus {
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &:active {
      transform: translateY(-2px);
    }
  }

  &__post-image {
    width: 100%;
    height: 14rem;
    object-fit: cover;
  }

  &__post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__post-category {
    font-size: 0.8rem;
    font-weight: 700;
    color: $color-secondary;
    padding: 0.5rem 0;
  }

  &__post-name {
    font-size: 1.8rem;
    font-weight: 400;
    color: $color-primary;
    padding-bottom: 1rem;
  }

  &__load-more {
    outline: none;
    border: none;
    background-color: $color-secondary;
    color: $color-white;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
  }
}
