// Theme colors.
$color-primary: #0b486b;
$color-secondary: #3b8686;
$color-tertiary: #cff09e;

// Regular colors.
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #333;
$color-grey-light: #ccc;

// State colors.
$color-danger: #f03;
