.header {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  padding: 1rem 8rem;

  // Header logo.
  &__logo {
    margin-right: auto;
  }

  &__logo-link:link,
  &__logo-link:visited {
    text-decoration: none;
    color: $color-white;
  }

  &__logo-text {
    font-size: 1.5rem;
  }

  &__logo-img {
    max-height: 2.5rem;
  }

  // Header navigation.
  &__nav {
    & > .header__nav-list {
      display: flex;

      & > .header__nav-item {
        display: inline-block;
      }

      & > .header__nav-item:not(:last-of-type) {
        margin-right: 1.5rem;
      }
    }
  }

  &__nav-list {
    list-style-type: none;
  }

  &__nav-item {
    &--with-children > .header__nav-list {
      display: none;
    }
  }

  &__nav-link:link,
  &__nav-link:visited {
    text-decoration: none;
    color: $color-white;
    transition: all 0.2s;
  }

  &__nav-link:hover {
    border-bottom: 1px solid currentColor;
  }
}
