.header {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  padding: 1rem 8rem;

  // Header logo.
  &__logo {
    margin-right: auto;
  }

  &__logo-link:link,
  &__logo-link:visited {
    text-decoration: none;
    color: $color-white;
  }

  &__logo-text {
    font-size: 1.5rem;
  }

  &__logo-img {
    max-height: 2.5rem;
  }

  // Header navigation.
  &__nav-list {
    list-style: none;

    &--root {
      display: flex;

      .header__nav-item:not(:last-child) {
        margin-right: 0.8rem;
      }
    }

    &:not(.header__nav-list--root) {
      display: none;
      background-color: $color-primary;
      padding: 0.5rem;

      .header__nav-item {
        padding: 0.5rem;
      }

      .header__nav-item:not(:last-child) {
        border-bottom: 1px solid $color-white;
      }
    }
  }

  &__nav-item--with-children {
    position: relative;

    &:hover > .header__nav-list {
      display: block;
      position: absolute;
      width: auto;
      height: auto;

      &--level-1 {
        top: 1.5rem;
      }

      &--level-2 {
        top: 0;
        left: calc(100% + 0.5rem);
      }
    }
  }

  &__nav-link:link,
  &__nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-white;
  }

  &__nav-link:hover {
    border-bottom: 1px solid currentColor;
  }
}
